.container{
    width: 30%;
    vertical-align: top;
   /* background-color:fuchsia;*/
    display: inline-block;
    
}
    
    
    .box_cursos{
        display:inline-block;
        text-align: center;
        vertical-align: middle;
        width: 20%;
        margin: 12px 0px 0px 32px;
    }

 