main h2 {
  color: #a1057f;
}

p {
  font-style: italic;
  margin: 10px;
}

h3 {
  margin: 10px;
}


#pesquisa {
  padding-left: 18rem;
}

@media (max-width: 1024px) {
  #pesquisa {
    padding: 1.2rem;
  }
}

form .botao-nav {
  border-radius: 0px 8px 8px 0px;
  color: black;
}

form .form-control {
  border-radius: 8px 0px 0px 8px;
}

nav .navbar {
  background-color: aquamarine;
}

.navbar img {
  width: 16vw;
}

.bem_vindo {
  margin: 10px;
}

.categorias {
  display: inline-block;
  vertical-align: top;
  width: 14%;
  height: 900px;
  margin: 0px 0px 0px 20px;
}

.paragrafoCateg {
  font-weight: bolder;
  font-size: 25px;
  margin: 0px 0px 0px 0px;
}

.lista {
  list-style-type: none;
  cursor: pointer;
}

.tamanhoprod {
  cursor: zoom-in;
}

.prod {
  display: inline-block;
  width: 23%;
  text-align: center;
  margin: 15px 0px 0px 15px;
}

.preco {
  color: red;
}

.strike {
  text-decoration: line-through;
}

.direitos_autorais {
  font-style: italic;
  font-size: 12px;
  text-align: center;
}

.contato {
  color: #a1057f;
  text-align: left;
  margin: 10px;
  width: 100%;
}

.mensagem {
  color: #a1057f;
  margin: 10px;
  text-align: left;
}

.botao {
  color: white;
  border-radius: 7px 7px 7px 7px;
  width: 100px;
  padding: 0.45%;
  border: 0 solid black;
  margin-left: 400px;
  background-image: linear-gradient(
    to right,
    rgb(176, 35, 211),
    #a1057f,
    rgb(102, 14, 129)
  );
  cursor: pointer;
}

#rodape {
  text-align: center;
}

#forma_pagamento {
  color: red;
}

#imgPag {
  width: 25%;
}

.lojas {
  border: 0px;
  width: 100%;
}

.nossasLojas {
  text-align: center;
  font-size: 26px;
  color: #a1057f;
}

.faleConos {
  font-size: 26px;
  color: #a1057f;
}

.nome {
  width: 500px;
}

.email {
  width: 500px;
}

.textarea {
  width: 500px;
  height: 150px;
}

@media (max-width: 1024px) {
  #fale_form {
    width: 290px;
  }
}

@media (max-width: 1024px) {
  #fale_botao {
    width: 25vw;
    margin-left: 1px;
  }
}